body{
    min-height: max(884px, 100dvh);
    font-family: "Hanken Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.material-symbols-outlined{
    user-select: none;
}
